<div style="display: flex;align-items: center; flex-wrap: wrap">
        <p style="margin: 0;">RFQ with ID</p>
        <div style="background-color: #7575753b;
            border: 1px solid #EEEEEE;
            margin-left: 5px;
            padding: 0px 5px;
            border-radius: 2px">
            <p style="margin: 0;">{{message.rfqId}}</p>
        </div>
        <p style="margin: 0 0 0 5px">has ended.</p>
</div>
