<div style="display: flex;flex-direction: column">
    <div style="display: flex">
        <p style="color:#979797;text-decoration: line-through;">{{message.dealerName}} pay / {{message.initiatorCompanyName}} </p>
        <p style="color:#979797;">rec {{message.dealerName}} rec/{{message.initiatorCompanyName}}</p>
    </div>
   {{> rfq-value receives='-' pays=message.state.pay.price agreed=true}}
</div>
