<div>
  <card data-accent-color="tempo-bg-color--cyan"
    data-icon-src="https://symphony-app-icon.s3.amazonaws.com/favicon.png">
    <header>
      {{#if message.title}}
      <b>{{message.title}}</b>
      {{/if}}

      {{#if message.content}}
      <b class="tempo-text-color--green">{{message.content}}</b>
      {{/if}}

      {{#if message.description}}
      :
      <i>{{message.description}}</i>
      <br />
      {{/if}}
    </header>
  </card>
</div>
