<div>
  <card data-accent-color="tempo-bg-color--blue"
    data-icon-src="https://symphony-app-icon.s3.amazonaws.com/favicon.png">
    {{#if message.title}}
    <header>
      <b>{{message.title}}</b>
    </header>
    {{/if}}
    {{#if message.content}}

    <body>
      {{message.content}}
    </body>
    {{/if}}
  </card>
</div>
